
    body{
        background-color: black;
    }

    #h1{
        font-family: 'Libre Baskerville', serif;
        color:white;
        text-transform: uppercase;
        text-align: center;
    }

    div{
        background-color: black;
        width:50%;
        margin-left: 25%;
    }

    p{
        color:white;
        text-align: center;
    }

    img{
        border: 5px solid white;
        width: 100%;
    }
    


